
.contents
  .mypage-container
    .side-content
      .mypage-nav
        .mypage-nav__list
          .mypage-nav__list--item
            マイページ
            %i.fas.fa-angle-right.angle-right
          .mypage-nav__list--item
            出品した商品
            %i.fas.fa-angle-right.angle-right
          .mypage-nav__list--item
            購入した商品
            %i.fas.fa-angle-right.angle-right
        .mypage-nav__head
          設定
        .mypage-nav__list
          .mypage-nav__list--item
            プロフィール
            %i.fas.fa-angle-right.angle-right
          .mypage-nav__list--item
            お届け先住所
            %i.fas.fa-angle-right.angle-right
          .mypage-nav__list--item
            クレジットカード
            %i.fas.fa-angle-right.angle-right
          .mypage-nav__list--item
            メール・パスワード
            %i.fas.fa-angle-right.angle-right
    .main-content
      .mypage-user
        .mypage-user__name
          ユーザーニックネーム
        .mypage-user__number
          出品数（DBから出品数をカウント）
