//会員情報登録(名前、生年月日)

.single-container
  .single-header
  .single-main
    .single-main__container
      .single-main__container__title
        会員情報入力
      .single-main__container__form
        %form#new_profile.new_profile{"accept-charset" => "UTF-8", :action => "/profiles", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "9R5A2HALtlpPaOPvCDtB6+/qA++HafRSI7HNXSPeSBd+OyjHyzCPMNUmYiZKROLjO8dd3b/DyAOqszQYyHBOCA=="}/
        .profile-group
          %label{:for => "profile_お名前"} 名前
          %span.profile-group__require 必須
          %br/
          %input#profile_family_name.profile-group__input--left{:name => "profile[family_name]", :placeholder => "例) 山田", :type => "text"}/
          %input#profile_first_name.profile-group__input--left{:name => "profile[first_name]", :placeholder => "例) 太郎", :type => "text"}/
        .profile-group
          %label{:for => "profile_お名前カナ"} 名前 カナ
          %span.profile-group__require 必須
          %br/
          %input#profile_family_name_kana.profile-group__input--left{:name => "profile[family_name_kana]", :placeholder => "例) ヤマダ", :type => "text"}/
          %input#profile_first_name_kana.profile-group__input--left{:name => "profile[first_name_kana]", :placeholder => "例) タロウ", :type => "text"}/
        .profile-group
          %label{:for => "profile_生年月日"} 生年月日
          %span.profile-group__require 必須
          %br/
          %select#profile_birth_day_1i{:name => "profile[birth_day(1i)]"}
            %option{:value => ""} --
            %option{:value => "2015"} 2015
            %option{:value => "2014"} 2014
          %select#profile_birth_day_2i{:name => "profile[birth_day(2i)]"}
            %option{:value => ""} --
            %option{:value => "1"} 1
            %option{:value => "2"} 2
            %option{:value => "3"} 3
            %option{:value => "4"} 4
            %option{:value => "5"} 5
            %option{:value => "6"} 6
            %option{:value => "7"} 7
            %option{:value => "8"} 8
            %option{:value => "9"} 9
            %option{:value => "10"} 10
            %option{:value => "11"} 11
            %option{:value => "12"} 12
          %select#profile_birth_day_3i{:name => "profile[birth_day(3i)]"}
            %option{:value => ""} --
            %option{:value => "1"} 1
            %option{:value => "2"} 2
            %option{:value => "3"} 3
            %option{:value => "4"} 4
            %option{:value => "5"} 5
            %option{:value => "6"} 6
            %option{:value => "7"} 7
            %option{:value => "8"} 8
            %option{:value => "9"} 9
            %option{:value => "10"} 10
            %option{:value => "11"} 11
            %option{:value => "12"} 12
            %option{:value => "13"} 13
            %option{:value => "14"} 14
            %option{:value => "15"} 15
            %option{:value => "16"} 16
            %option{:value => "17"} 17
            %option{:value => "18"} 18
            %option{:value => "19"} 19
            %option{:value => "20"} 20
            %option{:value => "21"} 21
            %option{:value => "22"} 22
            %option{:value => "23"} 23
            %option{:value => "24"} 24
            %option{:value => "25"} 25
            %option{:value => "26"} 26
            %option{:value => "27"} 27
            %option{:value => "28"} 28
            %option{:value => "29"} 29
            %option{:value => "30"} 30
            %option{:value => "31"} 31
        .profile-group
          %input.profile-btn{"data-disable-with" => "次へ進む", :name => "commit", :type => "submit", :url => "//", :value => "次へ進む"}/