//新規登録画面
#error_explanation {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

.main {
  background-color: #f8f8f8;
  width: 100vw;
  padding-bottom: 50px;
  &__container {
    background-color: white;
    width: 380px;
    margin: 0 auto;
    &__title {
      font-size: 25px;
      text-align: center;
      border-bottom: 1px#f8f8f8 solid;
      padding: 25px;
      font-weight: bolder;
      background-color:#f8f8f8;
    }
    &__form {
      padding: 50px;
      font-size: 15px;
      width: 100%;
    }
  }
}

///共通箇所
.form-require {
  background: turquoise;
  padding: 2px 4px;
  border-radius: 2px;
  color: #000;
  font-size: 12px;
  vertical-align: top;
}

///共通箇所
.input-default {
  margin-bottom: 40px;
  width: 280px;
  height: 40px;
  border-radius: 5px;
}

///共通箇所
.input {
  width: 280px;
  height: 40px;
}

//共通箇所
.btn-default {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-next{
    color: black;
    width: 280px;
    height: 40px;
    background-color: turquoise;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
}
