* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.header {
  padding: 0 60px;
  
  .headerContents {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .headerHeigh {
      position: relative;
      display: flex;
      align-items: center;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        .icon {
          width: 140px;
          display: block;
        }
      }
      &__search {
        margin-left: auto;
        width: 100%;
        .search__area {
          display: flex;
          .input {
            width: 100%;
            &__box {
              display: flex;
              width: 100%;
              height: 36px;
              padding: 0 0 0 5px;
            }
          }
          .search {
            &__btn {
              width: 36px;
              border: 0;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
            }
          }
        }
      }
    }
    .headerLow {
      height: 32px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      &__search {
        display: flex;
        padding-top: 15px;
        position: relative;
        .headerLow__search-style {
          .parentcategory {
            .parents_children_box {
              display: flex;
              .parents_class {
                display: none;
                position: relative;
                z-index: 100;
                .headerLow__search-style__category {
                  background-color: white;
                  padding: 10px;
                  width: 200px;
                  }
                  .headerLow__search-style__category:hover {
                    background-color: #3CCACE;
                  }
                  .block {
                    text-decoration: none;
                    color: black;
                  }
                  .linkStyle {
                    text-decoration: none;
                  }
              }
              .children_class {
                .Block {
                  background-color: white;
                  position: relative;
                  z-index: 100;
                  padding: 10px;
                .blocks {
                  text-decoration: none;
                  color: black;
                }
                }
                .Block:hover {
                  background-color: #3CCACE;
                }
              }
            }
          }
          }
        .headerLow__search-right {
          padding-left: 32px;
          position: absolute;
          left: 50px;
          width: 150px;
          
        }
        .linkStyleBrand {
          text-decoration: none;
          color: black;
        }
      }
      &__user {
        display: flex;
        .herderLow__user-controll {
          padding-left: 16px;
          line-height: 50px;
          .linkStyle {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}

.main {
  background: #f8f8f8;
  position: relative;
  z-index: 50;
  .firstVisual {
    height: 560px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    background-image: url("material/pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-position: top center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &--first {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &--second {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &--third {
        display: flex;
        margin: 24px 0 0 0;
      }
    }
  }
  .secondVisual {
    padding: 60px 20px;
    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .underLine{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .imageLists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .imageList {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          position: relative;
          margin-bottom: 20px;
          &__number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .mainText {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          &__color {
            color: #3CCACE;
          }
        }
        .subText {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .imageList-last {
        width: 30%;
        margin: 16px 0 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image {
          position: relative;
          margin-bottom: 20px;
          &__number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .mainText {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          &__color {
            color: #3CCACE;
          }
        }
        .subText {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .thirdVisual {
    background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__content {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &--first {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &--second {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &--third {
        display: flex;
      }
    }
  }
  .fourthVisual {
    padding: 60px 100px;
    background-color: #fff;
    .subtitle {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      .underLine{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .imageLists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .imageList {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          &__icon {
            vertical-align: bottom;
          }
        }
        .mainText {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .subText {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .fifthVisuals.under {
    padding-bottom: 80px;
  }
  .fifthVisuals {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .header {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;       
    }
    .product {
      margin: 0;
      padding: 0;
      &__title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #3CCACE;
      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .list {
          width: 220px;
          display: inline-block;
        }
      }
    }
  }
  .lastVisual{
    background-image: url(material/pict/bg-appBanner-pict.jpg);
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .content {
      color: #fff;
      text-align: center;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__title {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &__lists {
        .list {           
          font-size: 12px;
          line-height: 32px;
          &__style {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
  &__icon {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .icon {
      width: 100%;
      vertical-align: bottom;
    }
    .copyright {
      font-size: 14px;
    }
  }
}

.productBtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}

.whitebox {
  background-color:white;
  height: 500px;
  width: 200px;
  position: relative;
  z-index: 90;
}