//出品完了画面
.main
  .main__container
    .main__container__title
      出品が完了しました
    .main__container__form
      .btn-default
        = link_to '出品した商品を確認する', product_path(@product), class: 'btn-next'
      .btn-default
        = link_to '続けて商品を出品する', new_product_path, class: 'btn-next'